<div class="about">
<h2>About Us</h2>

<p>OUTSIDE THE BOX IS A BOUTIQUE THAT SPECIALIZES IN EXCLUSIVE FOOTWEAR AND APPAREL FOR MEN, WOMEN, AND KIDS. THREE FRIENDS, JOE, JOE AND ZACK OPENED THE FIRST LOCATION IN 2014 IN DOWNTOWN NY.</p>

<p>"IT ALL STARTED IN THE FIFTH GRADE WHEN I GOT MY HANDS ON MY FIRST PAIR OF JORDANS AND I'VE BEEN HOOKED EVER SINCE! IT CHANGED AND INFLUENCED EVERY FACET OF MY LIFE, MUSIC, STYLE, SPORTS AND IT MADE ME WHO I AM TODAY. FROM RARE J'S TO, SB'S, GEL LYTES, 574'S, PUMPS, AIR MAXES, AF1'S . . .
I RAN OUT OF ROOM IN MY HOUSE" -JOE G</p>


<p>WE STRIVE TO HIGHLIGHT THE ARTISTIC VALUE OF SNEAKERS AND GIVE SNEAKER HEADS FROM ALL AREAS THE OPPORTUNITY TO EXPRESS THEMSELVES THROUGH THEIR CHOICE OF FOOTWEAR. OUR LOVE AND APPRECIATION FOR SNEAKERS ALLOWS US TO VIEW FOOTWEAR AS A FORM OF ART. AT OUTSIDE THE BOX, WE ENCOURAGE OUR CUSTOMERS TO MAKE A STATEMENT THAT REFLECTS THEIR PERSONALITIES BY WHAT THEY WEAR ON THEIR FEET.</p>


<p>SNEAKER LOUNGE PRIDES ITSELF IN PRODUCT SELECTION, CUSTOMER SERVICE, PRODUCT KNOWLEDGE
AND WE STRIVE TO MAKE THE PURCHASING EXPERIENCE A MEMORABLE ONE.
SNEAKER LOUNGE IS A LICENSED RETAILER FOR JORDAN, NIKE SPORTSWEAR, NIKE SB, NEW BALANCE, ASICS, CONVERSE, PUMA, SUPRA, SAUCONY, TIMBERLAND, BROOKS, REEBOK, NEW ERA, MITCHELL & NESS AND SO MUCH MORE. WE SPECIALIZE IN BRINGING IN THE MOST EXCLUSIVE SOUGHT AFTER PRODUCTS IN THE FOOTWEAR AND FASHION INDUSTRY. </p>
=======
<p>OUTSIDE THE BOX PRIDES ITSELF IN PRODUCT SELECTION, CUSTOMER SERVICE, PRODUCT KNOWLEDGE AND WE STRIVE TO MAKE THE PURCHASING EXPERIENCE A MEMORABLE ONE.
OUTSIDE THE BOX IS A LICENSED RETAILER FOR JORDAN, NIKE SPORTSWEAR, NIKE SB, NEW BALANCE, ASICS, CONVERSE, PUMA, SUPRA, SAUCONY, TIMBERLAND, BROOKS, REEBOK, NEW ERA, MITCHELL & NESS AND SO MUCH MORE. WE SPECIALIZE IN BRINGING IN THE MOST EXCLUSIVE SOUGHT AFTER PRODUCTS IN THE FOOTWEAR AND FASHION INDUSTRY. </p>
</div>
