<h2>Current Stock</h2>

<div class="table_container">
	<% @products.each do |product| %>
		<div class="product">
			<%= image_tag product.photo.url(:medium) %>
			<%= product.name %> <br>
			$<%= product.price/100.00 %> <br>
			<%= product.description %><br />
			<div class="add2"><a class= "add" href="#">Add to Cart</a></div>
		</div>
	<% end %>
</div>

<div class="clearfixer"></div>
