<nav>
<ul>
		<li><a href="/">Home</a></li>
    	<li><a href="">Products</a>
	<ul>
     	<li><a href="/product">In-Stock</a></li>
     	<li><a href="/release">Upcoming Releases</a></li>
   	</ul>
     	<li><a href="/info">About Us</a></li> 
    	<li><a href="/contact">Contact</a></li> 
     	</li>
</ul>
</nav> 

<h2>Current Stock</h2>
