 <h2>Upcoming Releases</h2>
=======


<h2>Upcoming Releases</h2>

<div id="releases">

<% @products.each do |product| %>

<%= product.name %> <br>
$<%= product.price %> <br>
<%= product.description %>


<% end %>


</div>
