<h2>Your Shopping Cart</h2>


<% if @products.nil? %>
  <strong>Cart is Currently Empty</strong>
<% else %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <a href=<%= "/products/#{ product.id }" %>>
        <%= product.name %>
        </a>:   <em><%= product.price/100.00 %></em>
      </li>
    <% end %>
  </ul>
<% end %>
